  h1 {
    color: #333333;
  }
  h2 {
    color: #333333;
}
  h3 {
    color: #333333;
}

  p {
    color: #333333;
  }
  body {
    background-color: #FFFFFF;
  }
  table {
    background-color: #706C61;
    border-radius: 10px;
  }
  hr {
    border-style:  none;
    border-top-style: dotted;
    border-color: #333333;
    border-width: 5px;
    width: 5%;
  }

img {
  max-height: 50%;
  max-width: auto;
  border-radius: 10px;
}
a {
  color: #333333;
  background-color: #706C61;
}
